
.idea/workspace.xml
.gradle/6.8.1/executionHistory/executionHistory.bin
.gradle/6.8.1/executionHistory/executionHistory.lock
.gradle/6.8.1/fileHashes/fileHashes.bin
.gradle/6.8.1/fileHashes/fileHashes.lock
.gradle/6.8.1/javaCompile/classAnalysis.bin
