.title {
    -fx-font-size: 48;
    -fx-pref-width: 1280;
    -fx-pref-height: 80;
    -fx-alignment: center;
    -fx-text-alignment: center;
}

.list-cell {
    -fx-font-size: 24;
}

.crLabel {
    -fx-font-size: 24;
}

.crField, .crArea {
    -fx-border-color: gray;
    -fx-font-size: 16;
}


.sideButton {
    -fx-font-size: 24;
    -fx-pref-width: 120;
    -fx-pref-height: 240;
}

#editButton {
    -fx-background-color: yellow;
}

#executeButton {
    -fx-background-color: lightgreen;
}

#deleteButton {
    -fx-background-color: red;
}

.bottomButton {
    -fx-font-size: 40;
    -fx-pref-width: 400;
    -fx-pref-height: 80;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-background-color: lightgreen;
}

.backButton {
    -fx-font-size: 20;
    -fx-pref-width: 100;
    -fx-pref-height: 40;
}